body{
    background-color: black;
}
.Ottobre{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Arci{
    color: white;
    font-size: 40px;
    width: 1550px;
}
.div{
    text-align: center;
}
.in{
    color: white;
    font-size: 45px;
}
.Ale{
    text-align: center;
}
.img{
    text-align: center;
}